<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="center">
                    <img src="assets/image/Logo/Logo.png">
                </div>
                <div class="head">
                    <h2 class="text-center">About Us</h2>
                </div>
                
                <p>
                    e-Commerce Shopping Store is a online shopping application was developed in may 16 , 2020<br/>
                    co-ordinate by Raghu Kn . The goal of this application is to help customers in shopping  <br/>
                    from home . This application is designed for customer satisfaction .By this application  <br/>
                    it is our a single step ahead towards the Digital India platform . After this we will    <br/>
                    try for add more functionalities to this application for fulfil of customers needed.     <br/>

                </p>
                <h3>How suitable for a customer ?:-</h3>
                <p>
                    <span class="glyphicon glyphicon-hand-right"></span> Through this application many customers can view all the products at a time from their home .<br/>
                    * Now whole world is fighting against COVID-!9 virus ,for that India government declared<br/>
                      Lockdown from March 24 , 2020 to till date . And also Government Has restriction for   <br/>
                      come outside from home . So In this critical situation our team provides services to   <br/>
                      their customers .<br/>
                    * Our application provides 24 x 7 service to their customer . <br/>
                    * Our delivery boy wil deliver the order of the customer at their doorstep.<br/>
                    * If any one want to return the product , then they can easily do that through our<br/>
                      delivery boy.<br/>
                    * And also Our store provides fastest delivery to the customers .<br/>
                    * We are always careful for the product those will be deliver to customer .
                  
                  

                </p>
            </div>
            <div class="col-sm-5">
                <div class="img-wrap">
                    <img src="assets/image/AboutUs/online shopping.jpg">

                </div>

            </div>
        </div>
    </div>
</section>
